body {
    font-size: 5.3vw;
    font-family: Arial, sans-serif;
    margin:0;
}

#citations {
    font-size: 40%;
    text-align: center;
    color:grey;
}

.tilde-centered {
    position: absolute;
    left: 5%;
    right:5%;
    width: 90%;
}
#job_svg {
    position:relative;
    top:1vw;
}
#job_chart {

}

.tilde-selected-name {
    font-weight: bold;
    text-align: center;
}

.tilde-name {
    text-align:right;
}

.tilde-clickable:hover {
    cursor:pointer;
}
#job_dropdown {
    display:block;
    position:relative;
}
#tilde_headers {
    position:relative;
    width:100%;
}
#tilde_notice {
    position:relative;
    top:2vw;
    font-size: 65%;
}

.tilde-header {
    position:relative;
    font-size: 65%;
    font-weight: bold;
    float: left;
    width: 50%;
    padding-top: 1vw;
    bottom:-2vw;
}
.tilde-center-text {
    text-align: center;
}
.tilde-centerslot {
    stroke-width:0 !important;
}

.tooltip {
    position: absolute;
    display: none;
    font-size: 50%;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: none;
    padding: 2px;
    text-align: center;
    z-index: 9999;
    max-width: 35vw;
}

.description_tooltip {
    position: absolute;
    display: none;
    font-size: 50%;
    color: #323232;
    max-height:17.5vw;
    background: none repeat scroll 0 0 #E6E6E6;
    border: none;
    padding: 2px;
    text-align: right;
    z-index: 9999;
    width: 46vw;
    overflow:hidden;
    text-overflow: ellipsis;
}

.description_tooltip:hover {
    overflow:auto;
}






























.twitter-typeahead {
    width:100%;
}

.tt-input,
.tt-hint {
    width: 94%;
    height: 5.5vw;
    padding: 2vw 2.5vw;
    font-size: 90%;
    line-height: 5.5vw;
    border: 2px solid #ccc;
    border-radius: 1.5vw;
    outline: none;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 100%;
    margin-top: 1.5vw;
    padding: 1.5vw 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.5vw;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 1vw 3.5vw;
    font-size: 70%;
    line-height: 4vw;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #4E2A84;
}
.tt-suggestion:hover {
    cursor:pointer;
    color: #fff;
    background-color: #988FBF;
}
.tt-suggestion p {
    margin: 0;
}